.head{
	float:left;
	font-size:50px;
	margin-top:3%;
	margin-left:50px;  
	}
	.image{
		/*transform: rotate(90deg);*/
	}
.icon{
	clear: left;
	font-size: 60px;
	margin-top:125px;
	margin-left:50px; 
}
.space{
	height:30px;
}